{{yield}}
<h1>Set your goal</h1>
{{#form-for newQuest as |f|}}
  {{f.textarea-field "description" placeholder="Goal description" label="Enter your goal description"}}
  {{f.submit "Create" class="bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow"}}
{{/form-for}}
