{{yield}}
<h1>Set your goal</h1>
<form>
  <label>
    <span class="block">Enter your goal description</span>
    <textarea placeholder="Goal description"/></label>
    <button class="bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow">Create</button>
</form>
